<head>
<meta charset="utf-8">
<title>「SYSZO」利用規約</title>
<link href="styles.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
</head>

<body>
<div class="wap">
	<div id="doc-content">
		<p>第1条（「SYSZO」利用規約の適用範囲および変更）</p>
		<p>「SYSZO」利用規約（以下「本利用規約」といいます）は、ユナイトアンドグロウ株式会社（以下「当社」といいます。）が運営する投稿とコメントを仲介するインターネットサービス「SYSZO」（以下「本サービス」といいます）をご利用いただく際の、当社と会員との間の一切の関係に適用します。</p>
		<p>会員とは、本利用規約に同意のうえ、所定の方法によりユーザー登録をした方をいいます。会員は、本利用規約を遵守のうえ、本サービスを利用するものとします。</p>
		<p>当社は、会員に事前の通知をすることなく、本利用規約を変更することができます。本利用規約が変更された場合、変更後の規約が適用されるものとし、会員は変更後の規約に同意したものとみなされます。</p>
		<p>第2条（本サービスの目的と範囲）</p>
		<p>本サービスは、会員間の投稿とコメントの形式による情報交換の機会及びその環境を提供することを目的とします。</p>
		<p>本サービスの範囲は、本サービス上で投稿やコメントを投稿できるサービス、投稿を通知するサービス、本サービス上に掲載された内容を閲覧できるサービス、会員へのメールマガジンサービス等、本サービス上の全サービスとし、本サービスに関する事項は別途当社より公表ないし通知することとします。（本サービスに含まれる各サービスに関する個別の利用規約がある場合は、会員は個別の利用規約にも同意するものとします。）</p>
		<p>本サービスは、複数のサービスと連携しており、本サービス上にて投稿された内容は、一定条件の下、他連携サービス上にも公開されます。</p>
		<p>第3条（会員に関する情報の開示と利用）</p>
		<p>当社は原則として、会員がユーザー登録、および本サービスの利用において当社に対して開示した個人情報（以下「会員情報」といいます）のうち、投稿やコメント等の投稿において本サービス上で開示される会員情報以外の会員情報について、事前の同意なく当社が第三者に対しこれらの会員情報を開示することはありません。ただし、法令に基づく公的機関からの照会及び当社が法令によって開示義務を負う場合等はその限りではありません。</p>
		<p>会員情報は、当社のプライバシーポリシーに従い、当社が管理します。</p>
		<p>第4条（特定会員に対するサービスの停止・会員取消）</p>
		<p>当社は、特定の会員が次の各号に該当すると判断した場合には、事前に通知することなく、当該会員によるサービスの利用停止、当該会員のパスワード等の変更、または当該会員の会員資格の取消しを行うことができるものとします。これにより会員に何らかの損害が生じたとしても、当社は一切責任を負わないものとします。</p>
		<p>(1) ユーザー登録の際の記入事項に虚偽があることが判明した場合</p>
		<p>(2) パスワードを不正に使用した場合</p>
		<p>(3) 本サービスによって提供された情報を不正に使用した場合</p>
		<p>(4) 本利用規約に反する行為があった場合</p>
		<p>(5) 当社が、当該会員が当社ないし第三者に損害を与える危険があると判断した場合</p>
		<p>(6) その他、当社が、本サービスの利用について不適当と判断する場合</p>
		<p>第5条（会員資格の譲渡等の禁止）</p>
		<p>会員の資格を第三者に譲渡・貸与すること、または第三者と共用することはできません。</p>
		<p>第6条（会員情報の変更）</p>
		<p>会員は、登録した事項に変更が生じた場合には、速やかに変更登録を行うものとします。変更登録がなされなかったことにより生じた損害について、当社は一切責任を負いません。</p>
		<p>第7条（パスワードの管理）</p>
		<p>会員は、他人に知られることがないようパスワードを適宜変更するなどして会員本人が責任をもって管理するものとします。パスワードの第三者による不正使用により会員に損害が生じた場合でも、入力された会員IDおよびパスワードが登録されたものと一致することを所定の方法により確認した場合、会員による利用があったものとみなし、それらが盗用、不正使用その他の事情により会員以外の者が利用している場合であっても、それにより生じた損害については、第8条3項または第4項に基づき損害賠償責任を負う場合を除き、当社は一切責任を負いません。また右行為により当社ないし第三者に損害を与えた場合には、当該会員が一切の責任を負うものとします。</p>
		<p>第8条（内容についての免責およびサービス提供に関する責任）</p>
		<p>当社は、本サービスによって提供する情報について、その正確性、完全性を保証するものではありません。当該情報に起因して会員その他第三者に損害が発生したとしても、本条第3項または第4項に基づき損害賠償責任を負う場合を除き、当社は一切責任を負いません。</p>
		<p>本サービス上に投稿されたコメントの履歴は本サービス上で公開されます。コメント履歴の公開に伴い発生する損害が発生したとしても、本条第3項または第4項に基づき損害賠償責任を負う場合を除き、当社は一切責任を負いません。</p>
		<p>当社は、会員に対し、サービスを提供するにあたり、当社の故意または重大な過失に基づく債務不履行または不法行為に起因して会員に損害が生じた場合、当該損害を賠償するものとします。</p>
		<p>当社は、会員に対し、サービスを提供するにあたり、当社の軽過失に基づく債務不履行または不法行為に起因して会員に損害が生じた場合、現実、直接かつ通常の損害に限り賠償するものとします。なお、この場合において、当社は、会員に発生した使用機会の逸失、データの滅失、業務の中断、またはあらゆる種類の損害（間接損害、特別損害、付随損害、派生損害、逸失利益を含む）に対して、たとえ当社がかかる損害の可能性を事前に通知されていたとしても、当社は一切責任を負いません。</p>
		<p>第9条（禁止事項）</p>
		<p>会員は、本サービスを利用するにあたり、以下に該当する行為を禁止します。</p>
		<p>(1) 公序良俗に反するもの</p>
		<p>(2) 犯罪的行為を助長しまたはその実行を暗示する行為</p>
		<p>(3) 他の会員または第三者の知的所有権（著作権・意匠権・特許権・実用新案権・商標権・ノウハウが含まれるがこれらに限定されません）を侵害する行為</p>
		<p>(4) 他の会員または第三者の財産、信用、名誉、プライバシーを侵害する行為</p>
		<p>(5) 会員自身の個人を特定できる情報を、他の会員に公開する行為</p>
		<p>(6) 法令に反する行為</p>
		<p>(7) 他の会員または第三者に不利益を与える行為</p>
		<p>(8) 他の会員または第三者に対する誹謗中傷</p>
		<p>(9) 選挙の事前運動、選挙運動またはこれらに類似する場合、および公職選挙法に抵触する行為</p>
		<p>(10) 自己または第三者の営業に関する宣伝のみを目的にする行為</p>
		<p>(11) 未成年者に対し悪影響があると判断される行為</p>
		<p>(12) 本サービスの運営を妨げ、または、当社の信用を毀損する行為</p>
		<p>(13) 本利用規約に違反する行為</p>
		<p>(14) その他、当社が不適当と判断する行為</p>
		<p>第10条（会員によって登録、投稿、掲載される内容についての変更・削除）</p>
		<p>当社は、以下の事由がある場合には、会員およびその他第三者に対する承諾を得ることなく、本サービス上において会員によって登録、投稿、表示される内容を変更・削除することができます。また、当社は、投稿者である会員への対応業務に従事した者に係る人件費、その他の費用に相当する金額を含め、当社が被った損害を、その会員に賠償するよう請求することができるものとします。</p>
		<p>(1) 法令または本利用規約等に違反したものである場合</p>
		<p>(2) 本利用規約第9条に該当する場合</p>
		<p>(3) 当社が直ちに変更・削除する必要があると判断した場合</p>
		<p>第11条（情報の無断使用の禁止）</p>
		<p>本サービス上の画像などを含めた情報を無断使用することを禁止します。従って、本サービス上のあらゆる情報については、これを編集、複製、転載することはできません。</p>
		<p>第12条（投稿内容の利用権）</p>
		<p>当社は、会員が本サービス上に投稿した投稿及びコメント（以下「投稿内容」といいます）を保存し、利用することができるものとします。なお、当社が必要と認めた場合には、投稿者の承諾を得ることなく、保存されている投稿内容の中から投稿内容の削除または修正を行う場合があります。</p>
		<p>会員が本サービス上に投稿した投稿内容の著作権（著作権法第21条ないし第28条に規定される権利）は、当社に帰属します。この場合、当社は会員に対し、何らの支払も要しないものとします。</p>
		<p>当社は、投稿内容の編集、改変、複製、転載等の利用（何れも出版化、映像化、翻訳、放送、演劇化等の利用の場合を含みます）を行うことができます。これらを行う場合でも、当社は会員に対し、何らの支払も要しないものとし、また、当社は会員の氏名、会員IDまたはハンドルネーム、その他の会員を表象する名称を表示しないことができるものとします。</p>
		<p>第13条（アプリへの接続など）</p>
		<p>本サービスのサービスを受けるためのサイトへの接続は、会員が自己の費用で行うものとします。当社のサイトへの接続中、回線の都合等で接続が中断した場合にも、当社では一切の責任を負いません。</p>
		<p>第14条（サービスの一時的な中断）</p>
		<p>当社は以下の事由により、会員に事前に連絡することなく、一時的にサービスの提供を中断することがあります。このサービスの中断による損害について、第8条3項または第4項に基づき損害賠償責任を負う場合を除き、当社は一切責任を負わないものとします。</p>
		<p>(1) 当社のシステムの保守、点検、修理などを行う場合。</p>
		<p>(2) 火災・停電によりサービスの提供ができなくなった場合。</p>
		<p>(3) 天変地異などによりサービスの提供ができなくなった場合。</p>
		<p>(4) その他、運用上または技術上、本サービス提供の一時的な中断を必要とした場合。</p>
		<p>第15条（提供サービスの変更・廃止）</p>
		<p>当社は、本サービスの内容を、会員への事前の通知なくして変更することがありますが、会員はそれに同意するものとし、第8条3項または第4項に基づき損害賠償責任を負う場合を除き、会員に不利益または損害が発生したとしても、当社は一切その責を負わないものとします。当社は本サービスを、最低10日間の予告期間をおいて停止または廃止することができます。右停止または廃止は、本サービス上で告知するものとし、当社がこの手続を行った後に本サービスを停止または廃止した場合には、第8条3項または第4項に基づき損害賠償責任を負う場合を除き、当社は会員に対して一切の損害賠償等の責を負わないものとします。</p>
		<p>第16条 （免責事項）</p>
		<p>（1）ユーザの取り引きの交渉は各自で行っていただくことになっており、当社では一切関与いたしません。</p>
		<p>（2）当社はユーザ間で取り交わす取引、連絡、契約の内容及び紛争等については、ユーザの責任において処理及び解決するものとし、当社はかかる事項について何ら責任を負うものではございません。</p>
		<p>（3）ユーザが当社から直接又は間接にサービス又は他のユーザに関する情報を得た場合であっても、当社はユーザに対し本規約において規定されている内容を超えて如何なる保証も行うものではありません。</p>
		<p>（4） ユーザは、サービスを利用することが、ユーザに適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当 社は、ユーザによるサービスの利用が、ユーザに適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。</p>
		<p>第17条（準拠法・合意管轄）</p>
		<p>本規約は、日本法に準拠して解釈されるものとします。本サービス利用に関し紛争が生じた際には、東京地方裁判所を第一審の合意管轄裁判所とします。</p>
	</div>
</div>
</body>
</html>